<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @brewery.name %>
</h2>

<p>
 <i>
  <strong>Established in 
  <%= @brewery.year %>
  </strong>
 </i>
</p>

<p>
 <strong> Number of beer choices:</strong>
 <%= @brewery.beers.count%>
 </p>

 <p>
 <% @brewery.beers.each do |beer| %>
  <%= link_to beer.name, beer %>
  </br>omm
 <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
