<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name%>
</p>

<p>
<% if @beer.ratings.empty? %>
  Not yet rated
<% else %>
 <%= "An average rating of #{@beer.average_rating} with #{pluralize(@beer.ratings.count, 'rating')}"%>
<% end %>


</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
